<div class="prev-groups">
    <div class="group-details">
      <div class="group-name">
        {{ prevGroup.groupName }}
        <span class="divide-vert">|</span> @if(prevGroup.payoutSystem === 'EPS')
        {<mat-icon class="styled-icon">calendar_month</mat-icon>} @else {<mat-icon
          class="styled-icon"
          >linear_scale</mat-icon
        >}
      </div>
      <div class="outer-progress">
        <div
          class="inner-progress"
          appProgressAnimation
          [rank]="1"
          [groupSize]="1"
        ></div>
      </div>
      <div class="section">
        <span class="label">Savings Target: </span>
        <span class="value">{{ prevGroup.savingsTarget | currency }}</span>
      </div>
      <div class="section">
        <span class="label">Contribution: </span>
        <span class="value">{{ prevGroup.contribution }}</span>
      </div>
      <div class="section">
        <span class="label">Group Size: </span>
        <span class="value">{{ prevGroup.groupSize }}</span>
      </div>
      <div class="section">
        <span class="label">End Date: </span>
        <span class="value">{{ prevGroup.endDate | date }}</span>
      </div>
    </div>
  </div>
  