$primary-color: #52688F;

.termsAndConditions{
    border-radius: 1.5em;
    h2, h3{
        color: $primary-color;
    }
}

.mobile{
    font-size: small;
    h1, h2, h3{
      font-size: small !important;
    }
  }