$primary-color: #52688f;
$accent-color: #35425b;
$alt-font-color: #e3e7f1;
$swoosh-box-shadow: -5px 10px 20px -20px #52688f;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

.contact-container {
  align-items: center;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
  padding-bottom: 3em;
}

.header {
  padding: 0 1em;
  margin-top: 7em;
  margin-bottom: 2.5em;
  strong {
    color: $primary-color;
  }
}

.contact-card {
  background-color: white;
  border-radius: 12px;
  padding: 1.5em 1em;
  padding-bottom: 2em;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: $swoosh-box-shadow;
  border: solid 1px $primary-color;

  .contact-message {
    text-align: left;
    margin: 0;
    margin-bottom: 1em;
    color: $accent-color;
    font-size: small;
  }

  .full-width {
    width: 100%;
  }

  .response {
    color: rgb(22, 170, 22);
    font-size: x-small;
    text-align: left;
    padding: 0;
    margin: 0;
    padding-bottom: 1.5em;
  }

  button {
    width: 100%;
    border-radius: 25px;
    padding: 1.3em 0;
    font-weight: 500;
    font-size: medium;
  }
}

::ng-deep .contact-card mat-label {
  font-size: smaller !important;
}

.contact-card mat-hint {
  font-size: x-small;
  color: #aeaeae;
}

@media (max-width: 600px) {
  .header {
    font-size: small;
  }
}
