<!-- ========================= NAVBAR ========================= -->
<nav class="pr-navbar" *ngIf="(isMobile$ | async) === false; else mobileNav">
  <div class="nav-container-desktop">
    <div class="nav-left">
      <img src="assets/logo/5.png" alt="Soll Icon" class="nav-logo" />
    </div>

    <div class="nav-right">
      <button mat-icon-button [matMenuTriggerFor]="langMenu">
        <mat-icon class="language-icon">public</mat-icon>
      </button>
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item>English</button>
        <button mat-menu-item>Français</button>
        <button mat-menu-item>Kreyòl</button>
        <button mat-menu-item>Español</button>
      </mat-menu>

      <a class="nav-item">Home</a>
      <a class="nav-item">About Us</a>
      <a class="nav-item">Contact</a>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</nav>

<ng-template #mobileNav>
  <nav class="pr-navbar-mobile">
    <div class="nav-container-mobile">
      <img src="assets/logo/5.png" alt="Soll Icon" class="nav-logo" />

      <div class="nav-mobile-right">
        <button mat-icon-button [matMenuTriggerFor]="langMenuMobile">
          <mat-icon class="language-icon">public</mat-icon>
        </button>
        <mat-menu #langMenuMobile="matMenu">
          <button mat-menu-item>English</button>
          <button mat-menu-item>Français</button>
          <button mat-menu-item>Kreyòl</button>
          <button mat-menu-item>Español</button>
        </mat-menu>

        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </nav>
</ng-template>
