$primary-color: #52688f;
$accent-color: #35425b;
$alt-font-color: #E3E7F1;
$swoosh-box-shadow: -5px 10px 20px -20px #111;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

mat-toolbar {
  background-color: transparent;
  color: $primary-color;
  position: fixed;
  background-color: white;
  z-index: 1000;
  // box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  border-bottom: solid $primary-color 10px;

  .spacer-row {
    height: 0.3em;
  }

  .toolbar-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .spacer {
      flex: 2 1;
    }

    .language-icon{
      font-size: x-large;
      overflow: visible;
      padding: 0 0.25em;
      color: $primary-color;
    }

  }

}

.company-logo {
  padding: 0;
  margin: 0;
  height: fit-content;
  margin-top: -1.8em;
  margin-left: -0.45em;
  width: fit-content;
  cursor: pointer;
}

.app-logo{
  opacity: 1;
  width: 5em;
  height: 4.3em;
  padding: 0;
  margin: 0;
  object-fit: cover;
  clip-path: border-box;
}

:host .mat-toolbar-row, .mat-toolbar-single-row{
  padding: 0 0.6em;
}

button{
  font-size: large;
}

button:not(.menu-button){
  font-family: "Poppins", "Roboto", sans-serif;
}

.bottom-shadow {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.menu-button {
  background-color: $accent-color;
  color: white;
  margin-left: 0.7em;
  font-size: xx-large !important;
  padding: 1em;
  height: 1em;
  width: 1em;
}

::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 30px !important;
  padding: 0 !important;
}

.material-symbols-outlined {
  font-size: xx-large;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 40;
  transition: transform 1s ease-in-out
}

.rotated{
  transform: rotate(180deg);
}

::ng-deep .mat-mdc-menu-panel {
  position: relative !important;
  overflow: hidden !important;
  right: -0.22em !important;
  --mat-menu-container-shape: 10px !important;
}

::ng-deep .mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px !important;
}

::ng-deep .mat-mdc-menu-item{
  color: $accent-color !important;
}

.menu-items{
  overflow: hidden;
  margin-top: 0.5em;
  button{
    color: $primary-color !important;
  }
}

.divider, .menu-divider{
  height: 1.5em;
  font-weight: bold;
  color: $accent-color;
}

  .language-menu-divider{
    margin-top: 1.7em;
  }

.menu-divider{
  height: 0em;
  transition: margin-top 0.5s ease-in-out;
}

.about-us{
  font-size: medium;
}

::ng-deep .mat-divider{
  border-top-color: #E3E7F1 !important;
}

:host .mat-divider.mat-divider-vertical {
  border-right-color: #35425b !important;
}


// *********************************************************************

@media (min-width: 600px) {
  .toolbar-content{
    button{
      font-size: large;
    }
  }
  .menu-divider{
    margin-top: 1.07em !important;
  }
  .language-menu-divider{
    margin-top: 1.3em !important;
  }
}
