
$accent-color: #35425b;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

mat-toolbar {
  background-color: transparent;
  color: $accent-color;

  .spacer-row {
    height: 0.3em;
  }

  .toolbar-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .spacer {
      flex: 1 1 auto;
    }

    button{
      font-size: medium;
    }
  }

}

.company-name {
  font-family: "Inter", sans-serif;
  font-size: 1.7em;
  font-weight: bold;
  text-shadow: $text-shadow;
  color: $accent-color;
  width: fit-content;
  cursor: pointer;
}

sup {
  font-size: small;
}

.menu-button {
  background-color: $accent-color;
  color: white;
  margin-left: 0.7em;
}

::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 30px !important;
  padding: 0 !important;
}

.material-symbols-outlined {
  font-size: 30px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 40;
}

::ng-deep .mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px !important;
}

::ng-deep .mat-mdc-menu-item{
  color: $accent-color !important;
}

// *********************************************************************

@media (min-width: 600px) {
  .toolbar-content{
    button{
      font-size: large;
    }
  }
}
