<mat-toolbar class="nav-class">
  <mat-toolbar-row class="spacer-row"></mat-toolbar-row>
  <mat-toolbar-row>
    <div class="toolbar-content">
      <span (click)="navigateToSimpleRoute('/')" class="company-name"
        >Soll<sup>&reg;</sup></span
      >
      <span class="spacer"></span>
      <button mat-button (click)="navigateToSimpleRoute('/sign-in')">Sign in</button>
      <mat-divider class="divider" [vertical]="true"></mat-divider>
      <button
        mat-button
        (click)="
          openDialog(infoDetails.inquireTitle, infoDetails.phoneNumber, false)
        "
      >
        <mat-icon>phone</mat-icon>Inquire
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        #trigger="matMenuTrigger"
        class="menu-button"
      >
        <span *ngIf="trigger.menuOpen" class="material-symbols-outlined"
          >keyboard_arrow_down</span
        >
        <span
          *ngIf="!trigger.menuOpen"
          class="material-symbols-outlined rotated"
          >menu</span
        >
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="spacer-row"></mat-toolbar-row>
  <mat-toolbar-row class="spacer-row"></mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <div @accordion class="menu-items">
      <button
        appLazyLoadText
        mat-menu-item
        (click)="navigateToSimpleRoute('/info/concept-overview')"
      >
        What is Soll?
      </button>
        <button
          appLazyLoadText
          mat-menu-item
          (click)="navigateTo('/info/concept-overview', 'eps')"
        >
          EPS
          <mat-icon color="primary">calendar_month</mat-icon>
      </button>
      <button
        appLazyLoadText
        mat-menu-item
        (click)="navigateTo('/info/concept-overview', 'ecps')"
      >
        ECPS
        <mat-icon color="primary">linear_scale</mat-icon>
      </button>
      <button
        appLazyLoadText
        mat-menu-item
        (click)="navigateToSimpleRoute('/info/about-us')"
      >
        About us
      </button>
      <button
        appLazyLoadText
        mat-menu-item
        (click)="openDialog(infoDetails.feedbackTitle, infoDetails.email, true)"
      >
        Feedback
      </button>
    </div>
  </ng-template>
</mat-menu>
