$primary-color: #52688f;
$accent-color: #35425b;
$alt-font-color: #e3e7f1;
$swoosh-box-shadow: -5px 10px 20px -20px #52688f;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

img {
  opacity: 1 !important;
}

.language-icon {
  font-size: x-large;
  overflow: visible;
  padding: 0 0.25em;
  color: white;
  cursor: pointer;
}

.nav-logo {
  height: 2rem;
  display: block;
}

.menu-items {
  overflow: hidden;
}

::ng-deep .lang-menu-panel {
  span .fi {
    padding-right: 1em !important;
    font-size: smaller !important;
    border-radius: 50%;
  }
}

::ng-deep .lang-menu-panel .mat-mdc-menu-item {
  min-height: 2.8em !important;
  margin-right: 0.3em !important;
  color: $accent-color !important;
}

::ng-deep .soll-menu-panel {
  --mat-menu-container-shape: 1em !important;
  max-width: 100% !important;
}

::ng-deep .soll-menu-panel mat-icon {
  color: $accent-color !important;
}

/* ========================= NAVBAR (DESKTOP) ========================= */

.pr-navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  background: transparent;
  width: 100%;
  padding: 0.6rem 0;
  display: flex;
  justify-content: center;

  .nav-container-desktop {
    width: 95%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 0rem;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    padding: 0 0.5rem;
    margin: 1rem;
    border-radius: 2rem;
    background: $accent-color;
    backdrop-filter: blur(6px);
    height: 2.8rem;

    .nav-left {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 100%;
      margin-left: 0.5em;
      padding-bottom: 0.07em;
    }

    .nav-right {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      justify-content: flex-end;
      height: 100%;
      margin-left: 0.3rem;

      .nav-item {
        color: white;
        font-size: 1rem;
        cursor: pointer;
      }

      button mat-icon {
        color: white;
      }
    }
  }
}

/* ========================= NAVBAR (MOBILE) ========================= */

.pr-navbar-mobile {
  position: fixed;
  top: 0;
  z-index: 1000;
  background: transparent;
  width: 100%;
  padding: 0.6rem 0;
  display: flex;
  justify-content: center;

  .nav-container-mobile {
    width: 95%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    padding: 0 0.5rem;
    margin: 1rem;
    border-radius: 2rem;
    background: $accent-color;
    backdrop-filter: blur(6px);
    height: 2.3rem;

    a {
      cursor: pointer;
    }

    .nav-logo {
      height: 1.7rem;
      display: block;
      margin-left: 0.5em;
    }

    .nav-mobile-right {
      display: flex;
      align-items: center;
      gap: 0rem;

      .language-icon {
        font-size: 23px;
        padding: 0rem;
        margin-right: -0.5em;
      }

      button mat-icon {
        color: white;
      }

      .nav-item {
        color: white;
      }
    }
  }
}
