$swoosh-box-shadow: 0px 10px 20px -20px #111;
$progress-color: #20a7db;
$primary-color: #52688f;
$accent-color: #35425b;

.info {
    box-shadow: $swoosh-box-shadow;
    margin-top: 3em;
    padding: 1em 0.6em;
    padding-bottom: 3em;
    margin-bottom: -2em;
    display: flex;
    flex-direction: column;
    button {
      font-size: medium;
      justify-content: flex-start;
      text-align: start;
      width: fit-content;
      color: $accent-color;
      &:hover{
        color: $progress-color;
      }
    }
    .help-btn {
      margin-top: 1em;
      font-size: medium;
      color: $primary-color;
    }
  }