$swoosh-box-shadow: 0px 10px 20px -20px #111;
$progress-color: #20a7db;

.info {
    box-shadow: $swoosh-box-shadow;
    margin-top: 3em;
    padding: 1em 0.6em;
    padding-bottom: 3em;
    margin-bottom: -2em;
    display: flex;
    flex-direction: column;
    button {
      color: gainsboro;
      font-size: medium;
      justify-content: flex-start;
      text-align: start;
      width: fit-content;
      &:hover{
        color: $progress-color;
      }
    }
    .help-btn {
      margin-top: 1em;
      font-size: medium;
      color: bisque;
    }
  }

  @media screen and (min-width: 768px) {
 .info{
      padding-right: 5em;
      padding-left: 5em;
    }
  }