$primary-color: #52688F;
$accent-color: #35425B;

.chat-window {
  max-width: 800px;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-shadow: none;
}

.bottom-sheet-content{
  height: 100% !important;
  margin-bottom: 0 !important;
}

.bottom-sheet-title-close{
  display: block !important;
}

.title-icon{
  display: grid;
  grid-template-columns: 12fr 1fr;
}

.messages{
  margin-bottom: 2em;
  overflow-y: auto;
  max-height: 20em;
}

mat-card{
  box-shadow: none;
}

.pinned-message{
  margin-bottom: 1em;
  padding: 0 1em;
}
  
  .message-input {
    flex-grow: 1;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  textarea::placeholder{
    font-size: small;
    font-style: italic;
  }

  .send-button{
    margin-left: 4px;
  }

  ::ng-deep .message-input .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 0.6em !important;
    --mdc-outlined-text-field-outline-color: #52688F !important;
}

::ng-deep .message-input .mat-mdc-form-field-subscript-wrapper{
  display: none !important;
}
  