<div class="group-cat-c post-login-component">
  <div class="spacing"></div>

  <h2 class="title">Welcome to the group catalog</h2>
  <div class="group-cat-name-location">
    <h3 appLazyLoadText>
      <mat-icon class="group-cat-location-icon">location_pin</mat-icon>
      Hartford, CT
    </h3>
    <div class="pre-filter">
      <div class="filter-sort">
        <button [matMenuTriggerFor]="filterMenu" mat-icon-button>
          <mat-icon>filter_list</mat-icon>
        </button>
        <button [matMenuTriggerFor]="sortMenu" mat-icon-button>
          <mat-icon>tune</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="sub-title">
    Note: The catalog may have been filtered to match your current location. If you
    have recently moved, please update your location in your profile settings.
  </div>

  <form class="group-search-bar" (submit)="handleSubmit($event)">
    <input
      type="search"
      placeholder="Search groups"
      [formControl]="searchControl"
      (keyup)="handleKeyUp($event)"
    />
    <button type="button" (click)="setResults()" mat-icon-button>
      <mat-icon color="primary" class="search-icon">search</mat-icon>
    </button>
  </form>

  <mat-select
    [disableOptionCentering]="true"
    #groupSelect
    (selectionChange)="onSelect($event)"
  >
    <mat-option *ngFor="let group of filteredGroups" [value]="group.groupName">
      <mat-icon color="primary">groups_3</mat-icon> {{ group.groupName }}
    </mat-option>
  </mat-select>
</div>

<mat-card
  *ngIf="searchResults.length > 0 && filteredGroups.length > 0"
  class="trending-card search-results"
  appLazyLoadText
>
  <mat-card-content>
    <div class="slide-groups">
      <h5>Results:</h5>
      <swiper-container
        [slides-per-view]="searchResults.length"
        navigation="false"
        pagination="true"
        scrollbar="false"
        speed="500"
        [spaceBetween]="20"
      >
        <swiper-slide *ngFor="let group of searchResults">
          <mat-icon [routerLink]="getGroupProfileRoute(group.groupName)" class="add-it-icon">add_circle</mat-icon>
          <app-group-layout class="group-layout"
            [routerLink]="getGroupProfileRoute(group.groupName)"
            [group]="group"
          ></app-group-layout>
        </swiper-slide>
      </swiper-container>
    </div>
  </mat-card-content>
</mat-card>

<p class="no-search-result" *ngIf="noSearchResult">
  Sorry, no group matches this search...
</p>

<div *ngIf="searchResults.length === 0 && noSearchResult == false">
  <ng-container *ngFor="let cityGroups of groupArrays">
    <mat-card *ngIf="cityGroups.length > 0" class="trending-card" appLazyLoadText>
      <mat-card-content>
        <div class="slide-groups">
          <swiper-container
            [slides-per-view]="5"
            navigation="false"
            pagination="true"
            scrollbar="false"
            speed="500"
            [spaceBetween]="20"
          >
            <swiper-slide *ngFor="let group of cityGroups">
              <app-group-layout class="group-layout"
              [routerLink]="getGroupProfileRoute(group.groupName)"
              [group]="group"
              ></app-group-layout>
            </swiper-slide>
          </swiper-container>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  
</div>

<!-- Filter Menu -->

<mat-menu #filterMenu="matMenu" xPosition="after" class="post-login-menu">
  <ng-template matMenuContent>
    <div class="menu-items filter-items">
        <h4>Filter By:
          <mat-icon class="close-menu-icon" color="primary">close</mat-icon>
        </h4> 
      <form [formGroup]="filterForm" class="menu-form filter-form" (click)="preventDefaultClose($event)">
        <mat-form-field class="menu-form-field">
          <mat-label>Savings Target</mat-label>
          <input #savingTargetInput matInput placeholder="$ 10000" type="number" formControlName="savingsTarget"/>
        </mat-form-field>

        <mat-form-field class="menu-form-field">
          <mat-label>Payout System</mat-label>
          <input matInput placeholder="EPS" type="text" formControlName="payoutSystem"/>
        </mat-form-field>

        <mat-form-field class="menu-form-field">
          <mat-label>Contribution</mat-label>
          <input matInput placeholder="$ 500" type="number" formControlName="contribution"/>
        </mat-form-field>

        <mat-form-field class="menu-form-field">
          <mat-label>Frequency</mat-label>
          <input matInput placeholder="Bi or Mo" type="text" formControlName="frequency"/>
        </mat-form-field>


        <mat-form-field class="menu-form-field">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" placeholder="mm/dd/yyyy">
          <mat-datepicker-toggle class="date-picker" matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>        

        <mat-form-field class="menu-form-field">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" placeholder="mm/dd/yyyy">
          <mat-datepicker-toggle class="date-picker" matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>  

        <mat-form-field class="menu-form-field">
          <mat-label>Group Size</mat-label>
          <input matInput placeholder="10" type="number" formControlName="groupSize"/>
        </mat-form-field>

      </form>
      <span>
        <button (click)="applyFilter()" mat-flat-button color="primary">Apply</button>
        <button (click)="clearFilter($event)" class="clear-btn" mat-flat-button color="primary">Clear</button>
      </span>
    </div>
  </ng-template>
</mat-menu>

<!-- Sort Menu -->

<mat-menu #sortMenu="matMenu" xPosition="after" class="post-login-menu">
  <ng-template matMenuContent>
    <div class="menu-items sort-items">
      <h4>Sort Filter Results By:
        <mat-icon class="close-menu-icon" color="primary">close</mat-icon>
      </h4>
      <form [formGroup]="sortForm" class="menu-form" (click)="preventDefaultClose($event)">
        <div class="menu-form-field">
          <mat-checkbox color="primary" formControlName="savingsTarget"></mat-checkbox>
          <mat-label>Savings Target</mat-label>
        </div>

        <div class="menu-form-field">
          <mat-checkbox color="primary" formControlName="contribution"></mat-checkbox>
          <mat-label>Contribution</mat-label>
        </div>

        <div class="menu-form-field">
          <mat-checkbox color="primary" formControlName="startDate"></mat-checkbox>
          <mat-label>Start Date</mat-label>
        </div>

        <div class="menu-form-field">
          <mat-checkbox color="primary" formControlName="endDate"></mat-checkbox>
          <mat-label>End Date</mat-label>
        </div>

        <div class="menu-form-field">
          <mat-checkbox color="primary" formControlName="groupSize"></mat-checkbox>
          <mat-label>Group Size</mat-label>
        </div>
      </form>
      <span>
        <button (click)="applySort()" mat-flat-button color="primary">Apply</button>
        <button (click)="clearSort()" class="clear-btn" mat-flat-button color="primary">Clear</button>
      </span>
    </div>
  </ng-template>
</mat-menu>
