$primary-color: #52688F;
$accent-color: #35425B;
$progress-color: #20a7db;
$alt-font-color: #E3E7F1;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

.group-cat-c {
  margin: 1em;
  margin-top: 5em;
  margin-bottom: 0;
}

.spacing {
  margin-bottom: 2em !important;
}

.h3, h2{
    margin-bottom: 0;
    padding-bottom: 0;
}

.group-cat-name-location{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1em;
  margin-top: -1em;
  margin-bottom: 1em;
  color: $progress-color;
  font-size: smaller;
}

.pre-filter{
  width: 100%;
  margin-top: 0.5em;
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

.filter-sort{
  width: fit-content;
  border: solid $alt-font-color 1px;
  border-radius: 7px;
  height: fit-content;
  color: $primary-color;
  padding: 0 0.5em;
  padding-top: 0.2em;
  box-shadow: $box-shadow;
}

.group-cat-location-icon{
    vertical-align: middle;
    margin-left: -0.2em;
    font-size: larger;
    margin-right: -0.3em;
    color: $progress-color;
}

.sub-title{
  margin: 1.5em 0;
  padding-bottom: 1em;
  font-size: small;
}

:host swiper-slide {
  width: auto !important;
  padding-bottom: 1em;
  &:first-child:not(.user-group-slide) {
    padding-left: 0.6em !important;
  }
}

:host .mat-mdc-card-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 2em !important;
}

.group-search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid $primary-color;
  border-radius: 0.6em;
  padding: 0.2em 0.5em;

  input[type="text"], input[type="search"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.6em;
    padding-right: 1em;
    font-size: 1rem;
    background-color: white;

    ::placeholder {
      color: darken($primary-color, 20%);
    }
  }
}

.search-icon{
  margin-top: 0.2em;
}

::ng-deep .mat-mdc-select-arrow svg {
  display: none !important;
}

::ng-deep .mat-mdc-select-value {
  display: none !important;
}

::ng-deep div.mat-mdc-select-panel{
  margin-top: -1.5em !important;
}

mat-card{
  box-shadow: $box-shadow;
}


.search-results{
  box-shadow: none !important;
}

.slide-groups{
  h5{
    margin: 0;
    margin-top: -1em;
    padding: 1em 1.5em;
    padding-top: 0;
    width: fit-content;
    font-weight: normal;
  }
}

.no-search-result{
  font-size: smaller;
  margin: 0.3em 1em;
  margin-bottom: 1.5em;
}

.menu-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3em;
  
}

.filter-form{
  gap: 0.5em;
}

::ng-deep .post-login-menu .mat-mdc-menu-content {
  border-radius: 10px;
  border-top: solid $primary-color 1px;
}

.menu-items{
  color: $primary-color;
  button{
    margin: 0.5em;
    font-size: medium;
    height: 2em;
  }
  .clear-btn{
    background-color: transparent;
    color: $primary-color;
    border: solid $alt-font-color 1px;
    float: inline-end;
  }
}

mat-label{
  color: $primary-color;
  font-size: small;
}

.menu-form-field {
  width: 100%;
  font-size: small;
}

.filter-items{
  padding: 0 0.6em;
  button:not(.clear-btn){
    margin: 0.5em 0;
  }
  .clear-btn{
    margin-left: 1em;
  }
  h4{
    margin: 1em 0;
  }
}

.filter-form .menu-form-field{
  font-size: medium;
  margin-bottom: -1em !important;
}

.sort-items{
  h4{
    margin: 1em 0.6em;
  }
}

swiper-slide {
  padding-top: 0.6em !important;
}