<footer class="pr-footer">
  <div
    class="footer-content"
    [ngClass]="{ 'footer-content-mobile': (isMobile$ | async) }"
  >
    <p>© {{ currentYear }} Soll Savings LLC. All Rights Reserved.</p>

    <div class="footer-links">
      <a>Privacy Policy</a>
      <span>•</span>
      <a>Terms & Conditions</a>
      <span>•</span>
      <a>Feedback</a>
    </div>
    <div class="footer-badge">
      <a href="sollapp://register">
        <img
          src="assets/img/app-store-badge-blk.svg"
          alt="Download on App Store"
          class="footer-app-store-badge"
        />
      </a>
    </div>
  </div>
</footer>
