<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="assets/logo/5.png" alt="Soll Logo" />
    </div>
    <div class="footer-info">
      <p>&copy; {{ currentYear }} Soll Savings LLC. All Rights Reserved.</p>
    </div>
    <div class="footer-links">
      <span (click)="openPrivacyPolicy()">Privacy Policy</span>
      <span (click)="openTermsAndConditions()">Terms & Conditions</span>
      <span routerLink="/info/feedback">Feedback</span>
    </div>
  </div>
</footer>
