$dark-dusty-blue: rgb(37 84 109);
$primary-color: #52688f;
$alt-font-color: #e3e7f1;
$accent-color: #35425b;

.app-footer {
  color: $alt-font-color;
  font-size: 0.8em;
  padding: 1em;
  background-color: $primary-color;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;

    .footer-links {
      span {
        color: $alt-font-color;
        width: fit-content;
        cursor: pointer;

        &:hover {
          color: white;
        }
      }
      span:not(:last-child) {
        margin-right: 1.3em;
      }
    }
  }

  // ***************************************************

  @media (max-width: 600px) {
    .footer-content {
      padding-bottom: 1em;
      font-size: smaller;
    }
  }
}
