<footer class="pr-footer">
  <div
    class="footer-content"
    [ngClass]="{ 'footer-content-mobile': (isMobile$ | async) }"
  >
    <div class="brand-logo" routerLink="/">
      <img src="assets/logo/logo-plain-wht.png" alt="Soll Logo" />
    </div>
    <p>© {{ currentYear }} Soll Savings LLC. All Rights Reserved.</p>

    <div class="footer-links">
      <span (click)="openPrivacyPolicy()">Privacy Policy</span>
      <span>•</span>
      <span (click)="openTermsAndConditions()">Terms & Conditions</span>
      <span>•</span>
      <span [routerLink]="'/contact-us'">Contact</span>
    </div>
    <div class="footer-badge">
      <a href="sollapp://register">
        <img
          src="assets/img/app-store-badge-blk.svg"
          alt="Download on App Store"
          class="footer-app-store-badge"
        />
      </a>
    </div>
  </div>
</footer>
