$primary-color: #52688f;
$accent-color: #35425b;
$post-hero-bgr: #364c74;
$box-shadow: 0 0 0.625em rgba(82, 104, 143, 0.5);
$alt-font-color: #e3e7f1;
$transparent-bgr: rgb(82, 104, 143, 0.1);

.pr-footer {
  width: 100%;
  background: $post-hero-bgr;
  padding: 2rem 1em;
  display: flex;
  justify-content: left;
  border-top: 1px solid white;
  z-index: 100;
  position: relative;

  .footer-content {
    text-align: left;
    color: white;
    font-size: small;

    p {
      margin-bottom: 0.6rem;
    }

    .footer-links {
      display: flex;
      gap: 0.6rem;

      span {
        color: white;
        cursor: pointer;
      }
    }
  }

  .footer-content-mobile {
    font-size: x-small;
  }

  .footer-badge {
    margin-top: 1rem;

    .footer-app-store-badge {
      height: 1.8rem;
      width: auto;
      cursor: pointer;
    }
  }
}
