$dark-dusty-blue: rgb(37 84 109);
$primary-color: #52688f;
$alt-font-color: #e3e7f1;
$accent-color: #35425b;

.app-footer {
  color: $alt-font-color;
  padding: 2em 1em;
  padding-bottom: 3em;
  background-color: $primary-color;

  .footer-content {
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;

    .footer-links {
      span {
        color: $alt-font-color;
        width: fit-content;
        cursor: pointer;

        &:hover {
          color: white;
        }
      }
      span:not(:last-child) {
        margin-right: 1.3em;
      }
    }
  }

  .app-store-badge {
    height: 40px;
    width: auto;
    display: block;
  }

  .footer-app-links {
    margin-top: 1em;
    padding-bottom: 0.8em;
    img {
      opacity: 1;
    }
  }

  .footer-logo {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;

    img {
      width: 3em;
      height: auto;
      opacity: 1;
    }
  }

  // ***************************************************

  @media (max-width: 600px) {
    .footer-content,
    p,
    span {
      font-size: smaller;
    }
    .footer-logo {
      img {
        width: 2em;
      }
    }
  }
}
