
$primary-color: #52688F;
$accent-color: #35425B;
$progress-color: #20a7db;
$status-open-color: hsl(120, 100%, 50%);
$bottom-top-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px 18px;

.group-pro-c{
    margin-top: 5em;
}

.spacing{
    margin-bottom: 2em !important;
}

.pre-g-profile {
    .action-box {
      display: flex;
      justify-content: flex-end;
      margin-right: 2em;
    }
    .add-icon {
      margin-top: 0.55em;
      font-size: xx-large;
      overflow: visible;
      cursor: pointer;
      color: $primary-color;
      &:hover{
        color: $progress-color !important;
      }
    }
  }

  .group-status{
    width: 100%;
    padding-top: 1em;
    font-size: small;
    text-align: right;
    div{
      padding-right: 1em;
    }
    .open, .full{
      cursor: pointer;
      font-size: medium;
      height: 1em;
      vertical-align: text-bottom;
      margin-left: -0.3em;
    }
    .open{
      color: $status-open-color;
    }
    .full{
      color: $primary-color;
    }
  }
  
  .performance{
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-top: 3em;
    padding: 0 0.6em;
  }
  
  .group-strength {
    align-items: center;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 1em;
  }
  
  .group-strength h1 {
    font-size: 1.5em;
    margin-bottom: 0;
    color: white;
  }
  
  .group-circle{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
  }
  
  .outer-progress, .inner-progress{
    height: 10px;
  }
  
  .group-details {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: white;
    ::ng-deep .mat-divider{
      border-top-color: white !important;
    }
  }
  
  .two-items{
    h2, p{
      margin: 0;
      padding: 0.3em 0;
    }
    p{
      padding-top: 0.8em;
      color: bisque;
    }
  }
  
  .group-detail-item {
    margin-bottom: 10px;
  }
  
  .group-detail-item h2 {
    font-size: 1.2em;
    color: #333;
  }
  
  .group-detail-item p {
    font-size: 1em;
    color: #555;
  }
  
  .contribution-section {
    padding: 1em;
    margin-top: 0.6em;
  }
  
  .contribution-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contribution-detail span {
    font-size: 0.9em;
    color: #888;
  }
  
  .contribution-detail h3 {
    font-size: 1.5em;
    color: #333;
  }