<div class="group-pro-c post-login-component">
    <div class="spacing"></div>
    <div class="pre-g-profile">
        <div class="name-location">
          <h2 appLazyLoadText>{{ groupName }}</h2>
          <h3 appLazyLoadText>
            <mat-icon class="location-icon">location_pin</mat-icon> Hartford, CT
            <span class="vert-div">|</span> {{ group.payoutSystem }}
          </h3>
        </div>
        <div class="icon-box">
            <mat-icon 
            #tooltip="matTooltip"
            class="add-icon"
            matTooltip="Join group"
            >group_add</mat-icon>
        </div>
    </div>
</div>
