<app-public-nav></app-public-nav>

<div class="header">
  <div class="inner-div">
    <div class="hero-links">
      <h2>The Soll Initiative Group</h2>
    </div>
  </div>
</div>

<div *ngIf="aboutUs" class="content">
  <h2>{{ aboutUs.title }}</h2>
  <p class="main-body">{{ aboutUs.body }}</p>
  <h2>{{ aboutUs.header }}</h2>
  <div div *ngFor="let member of aboutUs.members" class="member-container">
    <div class="profile-picture">
      <img [src]="profilePic" alt="Member's Name" loading="lazy" appLazyLoading/>
    </div>
    <div class="profile-info">
      <h4>{{ member.name }}</h4>
      <p>{{ member.description }}</p>
    </div>
  </div>
</div>