$primary-color: #52688f;
$accent-color: #35425b;
$background-color: #7b9dab;
$default-font-color: #35425b;
$alt-font-color: #e3e7f1;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
$text-shadow2: 2px 2px 4px rgb(21, 43, 55);
$box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
$radiant1: rgb(255 255 255 / 0%);
$radiant2: rgb(75, 124, 149, 0.5);
$dark-dusty-blue: rgb(37 84 109);

.content {
  margin-top: 5em;
  padding: 1em;
  padding-bottom: 3em;
  @media (max-width: 600px) {
    margin-top: 4.5em;
  }
}

.member-container {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding-top: 1.5em;
  margin-bottom: 10px;
}

.profile-picture {
  margin-right: 20px;
  border-radius: 50%;
  box-shadow: $box-shadow;
  margin-top: -1em;
}

.profile-picture img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  padding: 0 0.4em;
}

.profile-info h4 {
  margin-bottom: 5px;
}

h2,
h4 {
  margin: 0;
}

p {
  font-size: 1em;
  line-height: 1.65;
  color: $accent-color;
}
