@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$primary-color: #52688F;
$accent-color: #35425B;
$background-color: #7B9DAB;
$default-font-color: #35425B;
$alt-font-color: #E3E7F1;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
$text-shadow2: 2px 2px 4px rgb(21, 43, 55);
$box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
$background-image: url('/assets/img/people.webp');
$radiant1: rgba(255, 255, 255, 0.5);
$radiant2: rgb(75, 124, 149, 0.5);
$dark-dusty-blue: rgb(37 84 109);

.header {
    background: $background-image;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position-x: center;
    background-position-y: center;
    color: $accent-color;
    text-align: center;
    height: 18%;
    padding: 16px 0;
  
    .inner-div{
        background: linear-gradient(to top, $radiant1, $dark-dusty-blue);
        margin: 0;
      .hero-links{
        color: white;
        text-shadow: $text-shadow;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 7em;
        margin-top: -1em;
      }
    
      h2{
        display: inline-flex;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;

      }
  
    }
  
  }

  .content{
    margin: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
    color: $accent-color;
    h2{
        color: $primary-color;
        margin: 0;
      }

      p{
        line-height: 1.5;
        font-size: small;
        color: $accent-color;
      }

      .main-body{
        padding-bottom: 1.5em;
      }
  }

//   ******************************************************************

.member-container {
    display: flex;
    align-items: center;
    padding-top: 1em;
    margin-bottom: 10px;

  }
  
  .profile-picture {
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: $box-shadow;
  }
  
  .profile-picture img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    padding: 0.4em;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;

    &.loaded {
      opacity: 1;
    }
  }
  
  .profile-info {
    flex-grow: 1;
  }
  
  .profile-info h4 {
    margin-bottom: 5px;
  }
  
  .profile-info p {
    margin: 0;
  }
  