<ng-container *ngIf="isMobile$ | async; else desktopLayout">
  <!-- MOBILE -->
  <div class="mobile-header">
    <button class="mobile-menu-btn" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="mobile-title">
      <ng-container *ngIf="currentCategory && currentTitle">
        {{ htmlDecode(currentCategory) }} › {{ htmlDecode(currentTitle) }}
      </ng-container>
    </div>
  </div>

  <div *ngIf="menuOpen" class="mobile-sidebar">
    <app-docs-list (docSelected)="menuOpen = false"></app-docs-list>
  </div>

  <div *ngIf="!menuOpen" class="docs-content">
    <router-outlet></router-outlet>
  </div>
</ng-container>

<!-- DESKTOP -->
<ng-template #desktopLayout>
  <div class="docs-container">
    <aside class="docs-sidebar">
      <app-docs-list></app-docs-list>
    </aside>

    <main class="docs-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</ng-template>
