<div class="hero-container">
  <div class="left-column">
    <div class="app-name">
      <img src="assets/img/app-name.png" alt="Download on the App Store" />
    </div>
    <div class="subtitle">
      <p>
        Where Aspirations Meet Savings, and Visions Come Alive. Turn Dreams into
        Reality, Craft Your Future, Save for Tomorrow.
      </p>
    </div>
    <div class="call-to-action">
      <div class="mat-cta-btn" routerLink="/info/what-is-soll">
        <button mat-raised-button>
          <span>Learn More</span>
        </button>
      </div>
      <div>
        <a href="sollapp://login" target="_blank" rel="noopener noreferrer">
          <img
            src="assets/img/app-store-badge-blk.svg"
            alt="Download on the App Store"
            class="app-store-badge"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="right-column">
    <img
      src="assets/img/hero-phone-card.png"
      alt="Hero Illustration"
      class="hero-illustration"
    />
  </div>
</div>
