<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="nextStep()" id="sign-in-form">
    <div class="logo-div" routerLink="/">
      <img [attr.data-src]="appLogo" alt="App Logo" appLazyLoading />
    </div>
    <h1>Welcome back!</h1>
    <div *ngIf="currentStep === 1">
      <h3>Please enter your email and password</h3>
      <div class="form-group">
        <input
          type="email"
          placeholder="Email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <div class="input-container">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Password"
          />
          <button
            *ngIf="loginForm.get('password')?.dirty"
            class="toggle-password"
            (click)="togglePasswordVisibility()"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </div>
        <span class="agreement" *ngIf="loginForm.get('password')?.valid"
          ><mat-checkbox
            color="primary"
            formControlName="acceptPhoneAgr"
          ></mat-checkbox
          >By checking this box, you agree to us sending a verification code to
          your registered phone number. <span (click)="openPhoneAgr()">Learn More</span>
        </span>
      </div>
      <button
        [disabled]="!isStep1Valid(loginForm)"
        class="primary-btn"
        type="button"
        (click)="nextStep()"
      >
        Sign In
      </button>
    </div>

    <!-- Step 2 -->
    <div *ngIf="currentStep === 2">
      <h3>Please enter the code we have sent to your mobile phone</h3>
      <div class="form-group">
        <app-verification></app-verification>
      </div>
    </div>
    <div class="other-info">
      <h3 routerLink="/get-started">Don't have an account?</h3>
      <p routerLink="/">I can't sign in</p>
    </div>
    <div *ngIf="credialsAreValid">
      <app-loading></app-loading>
    </div>
  </form>
</div>
