
$primary-color: #52688F;
$accent-color: #35425B;
$dark-dusty-blue: rgb(37 84 109);
$transparent-bgr: rgb(82, 104, 143, 0.1);

.container {
  display: flex;
  justify-content: center;
  margin: 1em;
  color: $accent-color;
}

h1{
    margin-bottom: 1.5em;
    font-size: 1.8em;
    font-family: "Roboto";
}

h3{
    margin: 1em 0;
    font-weight: normal;
}

.logo-div{
    display: flex;
    justify-content: center;
    img{
        cursor: pointer;
    }
}

img{
    height: 5em;
    width: 5em;
}

form{
    padding: 2em 0.3em;
    padding-top: 1em;
    border-radius: 1em;
    width: 500px;
}

// Form Row
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

// Input and Label Styling
input[type="text"], input[type="email"], input[type="number"],
input[type="date"], input[type="tel"], input[type="password"] {
  width: 100%;
  padding: 1em 0;
  margin: 5px 0;
  border: 1px solid $dark-dusty-blue;
  border-radius: 0.6em;
  font-size: medium;
  text-indent: 1em;
}

input::placeholder{
    font-size: medium;
}


label {
  display: block;
  margin-top: .5rem;
  color: $primary-color;
  width: 100%;
}

p{
    font-size: x-small;
}

.error-div{
    width: 100%;
    color: red;
    font-size: small;
    margin-bottom: 0.3em;
}

.isError{
    border: none !important;
    outline: 1px solid red;
}

input:focus {
    border: none;
    outline: none;
    outline: 2px solid $accent-color;
}


.other-info{
    color: $primary-color;
    h3, p{
        width: fit-content;
        cursor: pointer;
        width: fit-content;
    }
    h3{
        font-weight: bold;
    }
    p{
        font-size: medium;
        font-weight: normal;
    }
}

.prev-next{
    button:not(:last-child){
        margin-right: 1em;
    }
    button:not(:first-child){
        width: 7em;
    }
}

::ng-deep .mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #35425B;
    --mdc-snackbar-supporting-text-color: white;
    font-size: small !important;
}

// *************************************************

@media (min-width: 600px) {
    form{
        margin-top: 3em;
        background-color: $transparent-bgr;
        padding: 3em;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        border: 1px solid white;
    }
}