$primary-color: #52688f;
$accent-color: #35425b;
$alt-font-color: #e3e7f1;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
$progress-color: #20a7db;
$card-boxshadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$subtle-white: #f5f5f5;
$swoosh-box-shadow: 0px 10px 20px -20px #111;
$bottom-top-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px 18px;


  .group-dash-c{
    margin-top: 5em;
  }

  .spacing{
    margin-bottom: 2em !important;
  }

  .pre-g-dashboard {
    .alert-box {
      display: flex;
      justify-content: flex-end;
      margin-right: 2em;
    }
    .alert {
      margin-top: 0.7em;
      font-size: xx-large;
      overflow: visible;
      cursor: pointer;
      color: $primary-color;
      &:hover{
        color: $accent-color;
      }
      ::ng-deep .mat-badge-content {
        background-color: $accent-color;
        color: white;
        font-size: 13px;
        padding: 0.01em;
      }
    }
  }

.group-profile {
  background-color: $primary-color;
  padding: 0 0.6em;
  padding-bottom: 1em;
  border-radius: 2em;
  box-shadow: $bottom-top-box-shadow;
}

.group-profile-top-half{
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
}

.middle-line{
  position: absolute;
  width: 100%;
  margin-top: -11em;
  border-bottom: solid white 1px;
  border-radius: 1em;
  height: 1em;
}

.group-profile-top-half, .group-profile-bottom-half{
  padding: 0 0.6em;
}

.performance{
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin-top: 3em;
  padding: 0 0.6em;
}

.group-strength {
  align-items: center;
  text-align: center;
  padding: 1em 0;
  margin-bottom: 1em;
}

.group-strength h1 {
  font-size: 1.5em;
  margin-bottom: 0;
  color: white;
}

.group-circle{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
  z-index: 10;
}

.outer-progress, .inner-progress{
  height: 10px;
}

.group-details {
  display: flex;
  flex-direction: column;
  padding: 1em;
  color: white;
  ::ng-deep .mat-divider{
    border-top-color: white !important;
  }
}

.two-items{
  h2, p{
    margin: 0;
    padding: 0.3em 0;
  }
  p{
    padding-top: 0.8em;
    color: bisque;
  }
}

.group-detail-item {
  margin-bottom: 10px;
}

.group-detail-item h2 {
  font-size: 1.2em;
  color: #333;
}

.group-detail-item p {
  font-size: 1em;
  color: #555;
}

.contribution-section {
  padding: 1em;
  margin-top: 0.6em;
}

.contribution-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contribution-detail span {
  font-size: 0.9em;
  color: #888;
}

.contribution-detail h3 {
  font-size: 1.5em;
  color: #333;
}

.performance-section {
  margin-top: 2em;
  color: $primary-color;
  .group-stats{
    background-color: white;
    border-radius: 1em;
    box-shadow: $card-boxshadow;
    border: solid $primary-color 1px;
  }
}


//  =========================================================