<div *ngIf="group" class="group-dash-c post-login-component">
  <div class="spacing"></div>
  <div class="pre-g-dashboard" appStickyScroll>
    <div class="name-location">
      <h2 appLazyLoadText>{{ group.groupName }}</h2>
      <h3 appLazyLoadText>
        <mat-icon class="location-icon">location_pin</mat-icon>{{group.groupLocation}}
        <span class="vert-div">|</span> {{ group.payoutSystem }}
      </h3>
    </div>
    <div class="alert-box">
      <mat-icon
        #tooltip="matTooltip"
        matTooltip="Go to group chat"
        appLazyLoadText
        aria-hidden="false"
        [matBadge]="messageCount"
        (click)="tooltip.show()"
        matBadgeSize="medium"
        class="alert"
        >forum</mat-icon
      >
    </div>
  </div>

  <div class="group-dashboard">
    <div class="group-profile posh-container">
      <div class="group-circle">
        <app-group-circle [group]="group"></app-group-circle>
      </div>
      <div class="group-strength">
        <div>
          <app-group-strength [group]="group!"></app-group-strength>
        </div>
      </div>
      <div class="group-details two-items">
        <h2>Savings Target</h2>
        <div class="outer-progress">
          <div
            class="inner-progress"
            appProgressAnimation
            [startDate]="group!.startDate"
            [endDate]="group!.endDate"
          ></div>
        </div>
        <p>{{ group.savingsTarget | currency }}</p>
      </div>
      <div class="group-details two-items highlight">
        <h2>Contribution</h2>
        <mat-divider class="horiz-divider"></mat-divider>
        <p>{{ group.contribution }}</p>
      </div>
      <div class="group-details two-items">
        <h2>Next Contribution</h2>
        <mat-divider class="horiz-divider"></mat-divider>
        <p *ngIf="group?.nextContribution; else noNextCont">
          {{ group.nextContribution | date }}
        </p>
        <ng-template #noNextCont>
          <p>---</p>
        </ng-template>
      </div>
      <div class="group-details two-items">
        <h2>Start Date</h2>
        <mat-divider class="horiz-divider"></mat-divider>
        <p>{{ group.startDate | date }}</p>
      </div>
      <div class="group-details two-items">
        <h2>End Date</h2>
        <mat-divider class="horiz-divider"></mat-divider>
        <p>{{ group.endDate | date }}</p>
      </div>
    </div>
    <div class="performance">
      <div class="performance-section">
        <h2>Group Performance</h2>
        <div class="group-stats">
          <app-group-stats [groupStats]="groupStats"></app-group-stats>
        </div>
      </div>
    </div>
  </div>
</div>
