<div class="circle-container">
  <div class="outer-circle">
    <mat-icon
      *ngIf="paidMembersCount == 0"
      class="icon-top"
      color="primary"
      #tooltip1="matTooltip"
      matTooltip="Payout System: {{group!.payoutSystem}}"
      (click)="tooltip1.show()"
      >{{getPayoutSystemIcon()}}</mat-icon
    >
    <mat-icon
    *ngIf="paidMembersCount == 0"
    #tooltip2="matTooltip"
    matTooltip="Savings Target: {{group!.savingsTarget | currency:'USD':'symbol':'1.0-0'}}"
    (click)="tooltip2.show()"
    class="icon-left" color="primary">monetization_on</mat-icon>
    <div
      *ngFor="let member of group!.groupMembers"
      class="member-profile"
      [ngStyle]="{ transform: member.transform }"
    >
      <div
        class="img-container"
        #tooltip3="matTooltip"
        [matTooltip]="getMemberInfo(member)"
        matTooltipClass="mat-tooltip-arrow member-tooltip-arrow"
        (click)="tooltip3.show()"
        [ngClass]="{ 'paid-out': member.paidOut }"
        matTooltipPosition="above"
        matTooltipShowDelay="0"
      >
        <img
          appLazyLoading
          class="profile-img"
          [attr.data-src]="member.profilePic"
          alt="Member Profile"
        />
        <mat-icon *ngIf="member.paidOut" class="paid-check">check</mat-icon>
      </div>
    </div>
    <div class="inner-circle">
      <div class="leader-profile">
        <div class="img-container leader-img-box" (click)="openLeaderDialog()">
          <img
            class="profile-img leader-img"
            [attr.data-src]="group!.groupLeader.profilePic"
            appLazyLoading
            alt="Member Profile"
          />
        </div>
      </div>
    </div>
    <mat-icon
    *ngIf="paidMembersCount == 0"
    #tooltip4="matTooltip"
    matTooltip="Group Size: {{group!.groupSize}}"
    (click)="tooltip4.show()"
    class="icon-right" color="primary">supervised_user_circle</mat-icon>
    <mat-icon
    *ngIf="paidMembersCount == 0"
    #tooltip5="matTooltip"
    matTooltip="cycle {{ group!.cycle.toString() }}"
    (click)="tooltip5.show()"
    class="icon-bottom" color="primary">change_circle</mat-icon>
  </div>
</div>
