$primary-color: #52688f;
$all-boxshadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
$img-boxshadow: 0 25px 50px -12px rgba(0, 0, 0, 1);
$progress-color: #20a7db;
$accent-color: #35425b;
$subtle-white: #f5f5f5;

.circle-container {
  position: relative;
  width: 18em;
  height: 18em;
  margin: auto;
  margin-top: 3em;
}

.outer-circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $accent-color;
  border-bottom: solid white 1px;
  border-width: thin;
  box-shadow: $all-boxshadow;
}

.member-profile {
  position: absolute;
  width: 3.8em;
  height: 3.8em;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -32px;
  box-shadow: $all-boxshadow;
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5em;
  height: 5em;
  margin-top: -2.75em;
  margin-left: -2.75em;
  border-radius: 50%;
  border: solid bisque 5px;
  z-index: 1;
  box-shadow: $all-boxshadow;
}

.leader-profile {
  border-radius: 50%;
}

.img-container {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  height: 3.7em;
  width: 3.7em;
  overflow: hidden;
  background-color: white;
  box-shadow: $img-boxshadow;
  transition: width 0.3s ease-out, height 0.3s ease-out;
    &:not(.leader-img-box):hover{
      border: solid $progress-color 3px;
    }

  .profile-img {
    width: auto;
    height: 4em;
    padding-top: 0.4em;
    padding-left: 0.1em;
    border-radius: 50%;
    box-shadow: 0 25px 50px -12px rgb(0, 0, 0);
  }
}

  .paid-out{
    background-color: $progress-color;
  }

.leader-img-box{
  width: 5em;
  height: 5em;
  .leader-img{
    height: 5em;
    width: 6em;
    padding-top: 0.8em;
  }
}