$primary-color: #52688F;
$accent-color: #35425B;
$alt-font-color: #E3E7F1;
$dark-dusty-blue: rgb(37, 84, 109);

.verification-form {
  // background-color: $primary-color;
  // color: $alt-font-color;
  // padding: 20px;
  // border-radius: 5px;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  color: $primary-color;

  label {
    display: block;
    margin-bottom: 5px;
  }

  .code-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    input {
      width: 40px;
      height: 40px;
      text-align: center;
      border: 1px solid $dark-dusty-blue;
      border-radius: 5px;
      color: $accent-color;
      font-size: 1.5em;

      &:focus {
        outline: none;
        border-color: darken($accent-color, 10%);
        box-shadow: 0 0 5px $accent-color;
      }
    }
  }

  button {
    background-color: $accent-color;
    color: $alt-font-color;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($accent-color, 10%);
    }

    &:disabled {
      background-color: lighten($accent-color, 10%);
      cursor: default;
    }
  }

  span {
    display: flex;
    margin-top: 15px;
    font-size: 0.9em;

    p {
        color: $primary-color;
        text-decoration: underline;
        margin: 0;
        padding: 0 0.3em;
        cursor: pointer;
    
        &:hover {
          color: darken($primary-color, 10%);
        }
      }
  }

}