<div class="trending-groups">
  <div class="group-details">
    <div class="group-name">
      {{ trendingGroup.groupName }}
      <span class="divide-vert">|</span>
      <mat-icon class="styled-icon">{{getPayoutSystemIcon()}}</mat-icon>
    </div>
    <div class="outer-progress">
      <div class="inner-progress"></div>
    </div>
    <div class="section">
      <span class="label">Savings Target: </span>
      <span class="value">{{ trendingGroup.savingsTarget | currency }}</span>
    </div>
    <div class="section">
      <span class="label">Contribution: </span>
      <span class="value">{{ trendingGroup.contribution | currency:'USD':'symbol':'1.0-0' }}/{{trendingGroup.frequency}}</span>
    </div>
    <div class="section">
      <span class="label">Group Size: </span>
      <span class="value">{{ trendingGroup.groupSize }}</span>
    </div>
    <div class="section">
      <span class="label">Start Date: </span>
      <span class="value">{{ trendingGroup.startDate | date }}</span>
    </div>
  </div>
</div>
