<app-public-nav></app-public-nav>

<div
  class="content"
  [ngStyle]="{ 'background-image': 'url(' + currentImage + ')' }"
>
  <div class="inner-div">
    <div class="hero-wrapper">
      <div class="pre-wrapper">
        <div class="main-links">
          <div class="pre-key-words">
            <div class="spacing"></div>
            <span class="key-words" *ngIf="keyWordsValid()">
              <button
                #tooltip="matTooltip"
                [matTooltip]="keyWords.eps"
                matTooltipPosition="below"  (click)="trackTooltip('icon1'); tooltip.toggle()"
              >
                EPS
              </button>
              <button
                mat-button
                class="tooltip-btn"
                (click)="trackTooltip('icon1'); tooltip.toggle()"
              >
                <mat-icon [class.rotate-icon]="activatedIconId === 'icon1'">keyboard_arrow_down</mat-icon>
              </button>
            </span>
            <span class="key-words" *ngIf="keyWordsValid()">
              <button
                #tooltip="matTooltip"
                [matTooltip]="keyWords.leaders"
                matTooltipPosition="below"  (click)="trackTooltip('icon2'); tooltip.toggle()"
              >
              Soll Leaders
              </button>
              <button
                mat-button
                class="tooltip-btn"
                (click)="trackTooltip('icon2'); tooltip.toggle()"
              >
                <mat-icon [class.rotate-icon]="activatedIconId === 'icon2'">keyboard_arrow_down</mat-icon>
              </button>
            </span>
            <span class="key-words" *ngIf="keyWordsValid()">
              <button
                #tooltip="matTooltip"
                [matTooltip]="keyWords.ecps"
                matTooltipPosition="below"  (click)="trackTooltip('icon3'); tooltip.toggle()"
              >
              ECPS
              </button>
              <button
                mat-button
                class="tooltip-btn"
                (click)="trackTooltip('icon3'); tooltip.toggle()"
              >
                <mat-icon [class.rotate-icon]="activatedIconId === 'icon3'">keyboard_arrow_down</mat-icon>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="tag-line">
        <div class="tag-wrapper">
          <div class="progress-bar"><div></div></div>
          <div *ngIf="slogan" class="slogan">
            <p>
              <q>{{ slogan }}</q>
            </p>
          </div>
        </div>
      </div>
      <div class="spacing"></div>
      <div routerLink="/info/concept-overview" class="hero-btn-container">
        <button class="cta-btn" mat-raised-button>Explore More</button>
      </div>
      <div class="spacing"></div>
      <div class="spacing"></div>
      <div class="slide-buttons">
        <div class="image-indicators">
          <button
            *ngFor="let image of images; let i = index"
            (click)="setCurrentImage(i)"
            [style.background-color]="
              i === currentImageIndex ? activeColor(i) : inactiveColor(i)
            "
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-video video-even">
  <div routerLink="/get-started">
    <video [appLazyVideo]="contentVideos[1]" ></video>
  </div>
</div>

<div class="call-to-action">
  <div class="learn-more" *ngIf="learnMore">
    <div class="learn-more-header">
      <h1>What Is Soll?</h1>
      <div>
        <div class="learn-more-content">
          <p>{{ learnMore.body[0] }}</p>
        </div>
      </div>
    </div>
    <div class="branding">
      <div class="learn-more-content">
        <p class="img-p">
          <img [attr.data-src]="frontPageLogo" alt="App Logo" appLazyLoading />
        </p>
      </div>
      <div class="learn-more-content tag-words">
        <p class="tag-p">{{ learnMore.body[1] }}</p>
      </div>
      <div routerLink="/info/concept-overview">
        <button mat-raised-button>
          <span>Learn More</span>
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="content-video video-odd">
  <div routerLink="/">
    <video [appLazyVideo]="contentVideos[5]" ></video>
  </div>
</div>

<div class="content-video video-odd">
  <div routerLink="/">
    <video [appLazyVideo]="contentVideos[0]" ></video>
  </div>
</div>

<div class="ratings-partners">
  <div class="trustpilot-rating">
    <div>
      <img [attr.data-src]="trustPilot" alt="Trustpilot" appLazyLoading />
    </div>
    <div>
      <img [attr.data-src]="fiveStars" alt="Stars" appLazyLoading />
    </div>
  </div>

  <div class="partners">
    <div>
      <h1>Our partners<sup>1</sup> are best in their fields</h1>
    </div>
    <span *ngFor="let partner of partners">
      <img [attr.data-src]="partner" alt="Partner" appLazyLoading />
    </span>
  </div>
</div>

<div class="content-video video-odd">
  <div routerLink="/info/concept-overview">
    <video [appLazyVideo]="contentVideos[3]" ></video>
  </div>
</div>
<div class="content-video video-even">
  <div routerLink="/get-started">
    <video [appLazyVideo]="contentVideos[4]" ></video>
  </div>
</div>

<div class="faqs" *ngIf="faqs">
  <h2>Frequently Asked Questions</h2>
  <mat-accordion *ngFor="let faqs of faqs">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ faqs.question }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <p>{{ faqs.body }}</p>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="content-video video-even">
  <div routerLink="/info/concept-overview">
    <video [appLazyVideo]="contentVideos[2]" ></video>
  </div>
</div>
