<app-public-nav></app-public-nav>

<div class="content">
  <div class="inner-div">
    <div class="hero-links">
      <span routerLink="/info/concept-overview">What is Soll?</span>
      <span routerLink="/info/about-us">About us</span>
      <span>Help me</span>
      <div class="tag-line">
        <div class="system-links">
          <div class="progress-bar"><div></div></div>
          <div *ngIf="slogan" class="slogan">
            <p><q>{{ slogan.body }}</q></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="call-to-action">
  <div class="learn-more">
    <div class="learn-more-header">
      <h1>LEARN MORE</h1>
      <div *ngIf="learnMore">
        <div *ngFor="let item of learnMore.body" class="learn-more-text">
          <p>{{ item }}</p>
        </div>
      </div>
    </div>
    <div><button mat-raised-button>Learn More</button></div>
  </div>
</div>