
$primary-color: #52688F;
$accent-color: #35425B;
$alt-font-color: #E3E7F1;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
$text-shadow2: 0px 2px 3px rgb(37 84 109);
$box-shadow: 0px 0px 10px rgba(82, 104, 143, 0.5);
$radiant1: rgb(255 255 255 / 0%);
$dark-dusty-blue: rgb(37 84 109);
$transparent-bgr: rgb(82, 104, 143, 0.1);
$progress-bar-color: rgb(33 63 79);
$beige-ish: rgb(244, 244, 242);
$section-boxshadow: rgba(50, 50, 93, 0.25) 0px 13px 27px 23px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$cta-btn-boxshadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;


.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  transition: background-color 0.5s ease-in;
  color: #35425B;
  text-align: center;
  padding: 16px 0;
  margin-bottom: 0;

  .inner-div{
    margin: 0;
    width: 100%;
    .hero-wrapper{
      padding-top: 0.5em;
      color: white;
      text-shadow: $text-shadow;
      background: linear-gradient(to top, $radiant1, $dark-dusty-blue);
      margin-top: -1em;
      padding-bottom: 1em;
    }

    .pre-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      justify-items: center;
      width: 100%;
    }
    .main-links{
      max-width: 90%;
      font-size: medium;
      font-weight: bold;
      display: flex;
      justify-content: center;
      width: 100%;
      .key-words{
        button{
          outline: none;
          border: none;
          background-color: transparent;
          width: fit-content;
          font-size: medium;
          color: white;
          font-weight: bold;
          text-shadow: $text-shadow;
          font-family: 'Roboto';
        }
        .tooltip-btn{
          margin-left: -2em;
          margin-right: -2em;
          color: bisque;
          padding: 0;
          width: fit-content;
        }
        .rotate-icon{
          transform: rotate(180deg) !important;
          transition: transform 0.3s ease-in-out;
        }
      }
      
      .pre-key-words span:not(:last-child){
        margin-right: 1.4em;
      }

    }
  
    h1, h2{
      color: $alt-font-color;
      text-shadow: $text-shadow;
      display: inline-flex;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
    }
  
    h1{
      font-size: xx-large;
    }

    .tag-line{
      margin-top: 1.7em;
      justify-content: center;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 1em;
    }

    .tag-wrapper{
      margin-top: 1em;
      max-width: 82%;
    }
  
    .slogan{
      display: flex;
      justify-content: center;
      vertical-align: middle;
      width: 100%;
      p {
          margin: 0;
          padding: 0.2em 0;
          font-size: large;
          line-height: 1.5em;
          font-family: serif;
          letter-spacing: 1px;
          text-shadow: $text-shadow2;
          text-align: start;
        }
    }

    .cta-btn{
      color: $accent-color;
      border-radius: 1.5em;
      font-size: large;
      font-weight: bold;
      padding: 0 1em;
      height: 1.7em;
      box-shadow: $cta-btn-boxshadow;
  }

  .slide-buttons {
    margin-top: 3em;
    button{
      cursor: pointer;
      border: none;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      padding: 0;
      margin: 0 5px;
      transition: background-color 0.3s
    }
  }

  }

}

.transition {
  background-image: none;
  background-color: $accent-color;
}


.hero-btn-container{
  display: flex;
  max-width: 90%;
  width: fit-content;
  justify-content: flex-start;
  margin: 0 2.5em;
}

.call-to-action{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-top: 1em;
}

.learn-more {
        text-align: center;
        width: 100%;
        // border-radius: 1em;
        margin: 0;
        padding: 1em;
        padding-top: 0;
        padding-bottom: 2em;
        background-color: $beige-ish;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 1em;
        // box-shadow: $section-boxshadow;
    h1{
        font-size: 1.6em;
        color: $primary-color;
        font-weight: bolder;
        text-align: left;
    }

    .branding{
      padding-top: 2em;
    }
    
    button{
        background: $accent-color;
        color: white;
        border-radius: 1.3em;
        font-size: medium;
        box-shadow: $box-shadow;
        width: 100%;
    }
}

.learn-more-content{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    p{
        margin-top: -1em;
        color: $primary-color;
        font-size: 13px;
        text-align: left;
    }
    img{
      margin-top: 0.5em;
      height: 6.5em;
      width: 6.5em;
    }
    .img-p, .tag-p{
      text-align: center;
    }
}

.learn-more-content.tag-words{
  padding-top: 0.3em;
  p {
    color: lighten($accent-color, 10%);
    font-weight: bold;
    font-size: small;
  }
}

.ratings-partners{
  background-color: $transparent-bgr;
  margin-top: 0;
  img{
    transform: none !important;
  }

  .trustpilot-rating, .partners{
    text-align: center;
    padding: 2em;
    margin: 1em;
  }

  .trustpilot-rating {
    div{
      img{
        width: 11.5em;
      }
    }
  
  }
  
  .partners{
    span{
      img{
        width: 6.5em;
      }
    }
    h1{
      font-size: x-large;
      margin-top: -2em;
    }
    sup{
      font-size: small;
      font-weight: normal;
      color: $primary-color;
      font-family: sans-serif;
    }
    span:not(:last-child){
      padding-right: 1.1em;
    }
  }
}


.faqs{
  margin: 4em 1em;
  h2{
    font-weight: normal;
    color: $accent-color;
  }

  mat-expansion-panel{
    box-shadow: none;
    color: $primary-color;
  }

  mat-panel-title{
    color: $accent-color;
  }

  ::ng-deep .mat-expansion-panel-header:not([aria-disabled=true]) {
    width: 100%;
    padding: 1em 0;
  }

  p{
    font-size: small;
  }

  .panel-icon {
    float: right;
  }


}

::ng-deep mat-expansion-panel-header .mat-expansion-indicator::after {
  content: "+" !important;
  border-radius: 50%;
  background-color: $primary-color;
  color: white;
  width: 21px;
  height: 21px;
  justify-content: center;
  display: flex;
  vertical-align: middle;
  border: 0;
  transform: none;
}
::ng-deep .mat-expansion-panel-header.mat-expanded .mat-expansion-indicator::after {
  content: "-" !important;
  border-radius: 50%;
  background-color: $primary-color;
  color: white;
  width: 21px;
  height: 21px;
  justify-content: center;
  display: flex;
  vertical-align: middle;
}

::ng-deep .mat-mdc-tooltip .mdc-tooltip__surface {
  font-size: x-small !important;
  background-color: white !important;
  color: #636B74 !important;
  border-radius: 1em !important;
}

::ng-deep .mat-mdc-tooltip{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px !important;
}

.content-video {
  margin: 0;
  margin-top: 1em;
  img{
    height: auto;
    width: 100%;
  }
  .video-even{
    display: block;
    width: auto;
    justify-content: flex-start;
  }
  .video-odd{
    width: auto;
    display: block;
    justify-content: flex-end;
  }
  video{
    width: 100%;
    height: 25em;
  }
}


// *********************************************************




.progress-bar {
  position: relative;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  box-shadow: $box-shadow;

  .inner-progress {
    height: 8px;
    padding: 1px;
    border-radius: 5px;
    background-color: $progress-bar-color;
    transition: width 0.5s ease-in-out;
  }
}

.spacing{
  border: none;
  margin-top: 0;
}

// *****************************************************************

@media (min-width: 600px) {
  .content{
    height: auto;
  }
  .inner-div{
    .main-links{
      font-size: large !important;
    }
    .tooltip-btn{
      margin-left: -1.5em !important;
      margin-right: -1.5em !important;
    }
    .hero-wrapper{
      padding-bottom: 3em;
    }
  }
  
  .hero-btn-container{
    justify-content: center;
    width: 100%;
  }
  .learn-more{
    margin-top: 1em;
    padding: 3em;
    padding-top: 2em;
    padding-right: 1 !important;
  }
  .call-to-action{
    margin-top: 3em;
    .branding{
      margin-top: 4em;
      padding-top: 3em !important;
    }
    .learn-more-content.tag-words{
      p{
        font-size: larger;
      }
    }
    button{
      padding: 1em;
      font-size: x-large;
    }
    p{
      font-size: x-large;
    }
  }
  h1{
    font-size: 4em !important;
  }
  .faqs{
    margin-right: 5em;
    margin-left: 5em;
    p{
      font-size: medium;
    }
  }

  .partners{
    h1{
      margin-top: -1em !important;
    }
  }

  .content-video {
    margin: 0;
    margin-top: 1em;
    display: flex;
    width: 100%;
    video{
      width: 100%;
      height: 48em;
    }
  }
  .video-even{
    justify-content: flex-start;
  }
  .video-odd{
    justify-content: flex-end;
  }
}

@media screen and (orientation: landscape){
  .learn-more{
    button{
      width: 80%;
      font-size: 2em;
    }
    mat-icon{
      font-size: 0.8em;
      margin-top: -0.3em;
      margin-right: 0.5em;
      overflow: visible;
    }
  }
  

}