$primary-color: #52688f;
$accent-color: #35425b;
$box-shadow: 0px 0px 10px rgba(82, 104, 143, 0.5);
$alt-font-color: #E3E7F1;
$transparent-bgr: rgb(82, 104, 143, 0.1);

.spacing{
  margin: 2em 0.9em;
  margin-bottom: 1em;
  border: none;
}

.header-tagline {
  .tagLine {
    font-size: x-large;
    padding: 1.2em 0.6em;
    padding-top: 0.3em;
    padding-right: 0.5em;
  }
}

.curvy-header{
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
}

.curvy-bottom{
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.core-page{
  margin: 0;
  padding: 0;
}

.hero-container {
  position: relative;
  z-index: 1000;
  margin-top: -1em;
  background-position: center;
  min-height: 26em;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1.5em;
  button{
    cursor: pointer;
    border: none;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    padding: 0;
    margin: 0 5px;
    transition: background-color 0.3s ease-in;
    box-shadow: $box-shadow;
  }
}

.swipe {
  position: relative;
}


.get-started {
  margin: 0 0.5em;
  padding-bottom: 1em;
  margin-top: 1.5em;
.form-control {
  width: 100%;
  border: solid $primary-color 2px;
  border-radius: 12em;
  text-indent: 1em;
  padding: 0.75em 0;
  margin-bottom: -1em;
  font-size: medium;
  &:focus {
    border: none;
    outline: none;
    outline: 2px solid $accent-color;
  }
}
input::placeholder {
  font-size: medium;
}
button{
  background: $accent-color;
  color: white;
  border-radius: 1.3em;
  font-weight: bold;
  padding: 1.17em;
  box-shadow: $box-shadow;
  width: 100%;
}
}

.what-is-img{
  width: 3.4em;
  height: 3.4em;
}

// ******************************************* Old Style ****************************

.transition {
  background-image: none;
  background-color: $accent-color;
}


.hero-btn-container{
  display: flex;
  max-width: 90%;
  width: fit-content;
  justify-content: flex-start;
  margin: 0 2.5em;
}

.call-to-action{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-top: 1em;
}

.learn-more {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 1.5em 1em;
        padding-top: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 1em;
    
    button{
        background: $accent-color;
        color: white;
        border-radius: 1.3em;
        font-size: medium;
        box-shadow: $box-shadow;
        width: 100%;
    }
}

.tagline-header {
  text-align: left;
  font-family: "Poppins", "Roboto", sans-serif;
  font-size: 24px;
  padding: 0 0.5em;
  padding-top: 1.5em;
}

.sub-header{
  font-size: small;
  padding: 0 0.9em;
  margin-top: -1em;
  width: fit-content;
  color: $accent-color;
}

.branding{
  margin-top: -1.8em;
}

.learn-more-content{
    margin-top: -1em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    img{
      margin-top: 1em;
      height: 6.2em;
      width: 6.2em;
    }
    .img-p, .tag-p{
      text-align: center;
      font-family: "Inter", sans-serif;
      color: $primary-color;
    }
}

.learn-more-body{
  font-size: medium;
  color: $primary-color;
  font-family: "Poppins", "Roboto", sans-serif;
  text-align: start;
}

.learn-more-content.tag-words{
  p {
    z-index: 10;
    margin-top: -2em;
    color: lighten($accent-color, 10%);
    font-weight: bold;
    font-size: xx-small;
  }
}

.ratings-partners{
  margin-top: 0;
  background-color: $transparent-bgr;
  img{
    transform: none !important;
  }

  .trustpilot-rating, .partners{
    text-align: center;
    padding: 2em;
    margin: 1em;
    sup{
      cursor: default;
    }
  }

  .trustpilot-rating {
    div{
      img{
        width: 11.5em;
      }
    }
  
  }
  
  .partners{
    margin-bottom: 1em;
    span{
      img{
        width: 6.5em;
      }
    }
    h1{
      font-size: x-large;
      margin-top: -2em;
    }
    sup{
      font-size: small;
      font-weight: normal;
      color: $primary-color;
      font-family: sans-serif;
    }
    span:not(:last-child){
      padding-right: 1.1em;
    }
  }
}


.faqs{
  padding: 4em 1em;
  padding-top: 1.5em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  h1{
    padding: 0;
  }

  mat-expansion-panel{
    box-shadow: none;
    color: $accent-color;
  }

  mat-panel-title{
    color: $accent-color;
    color: $primary-color;
  }

  ::ng-deep .mat-expansion-panel-header:not([aria-disabled=true]) {
    width: 100%;
    padding: 1em 0;
  }

  p{
    font-size: 14px !important;
  }

  .panel-icon {
    float: right;
  }


}

::ng-deep mat-expansion-panel-header .mat-expansion-indicator::after {
  content: "+" !important;
  border-radius: 50%;
  background-color: $primary-color;
  color: white;
  width: 21px;
  height: 21px;
  justify-content: center;
  display: flex;
  vertical-align: middle;
  border: 0;
  transform: none;
}
::ng-deep .mat-expansion-panel-header.mat-expanded .mat-expansion-indicator::after {
  content: "-" !important;
  border-radius: 50%;
  background-color: $primary-color;
  color: white;
  width: 21px;
  height: 21px;
  justify-content: center;
  display: flex;
  vertical-align: middle;
}

::ng-deep .mat-mdc-tooltip .mdc-tooltip__surface {
  font-size: x-small !important;
  background-color: white !important;
  color: #636B74 !important;
  border-radius: 1em !important;
}

::ng-deep .mat-mdc-tooltip{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px !important;
}

.front-page-content {
  margin: 0;
  margin-top: 1em;
  img{
    height: auto;
    width: 100%;
  }
}

.front-page-content {
  margin-bottom: 4em;
}

.last-video{
  margin-bottom: 7em;
}

.desktop-core{
  margin-left: 6em;
  margin-right: 6em;
}
