<div class="email-just">
  <h2 mat-dialog-title>Enhancing Security: The Importance of Restricting Email Domains</h2>
  <mat-dialog-content>
    <p>
      Certain email domains may introduce security vulnerabilities due to their
      lax security protocols, making them more susceptible to breaches and
      exploitation. These domains may not enforce strong password policies, lack two-factor
      authentication, or have inadequate monitoring for suspicious activities,
      which can lead to compromised accounts.
    </p>
    <p>
      Additionally, some domains might be more frequently used for disposable or
      temporary email services, which are often associated with spam or
      malicious activities. Allowing only trusted domains with robust security
      measures in place helps mitigate the risk of such vulnerabilities,
      ensuring the integrity and safety of the platform and its users.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
