<div class="phone-agr">
  <h2 mat-dialog-title>Securing Your Account: The Importance of Providing Your Phone Number</h2>
  <mat-dialog-content>
    <p>
      Providing your phone number for getting you started on your Soll journey
      is a crucial step towards securing your account. It enables us to
      implement two-factor authentication, ensuring that any access or changes
      to your account are authorized by you. This added layer of security helps
      to protect your personal information and financial transactions from
      unauthorized users.
    </p>
    <p>
      Your phone number also allows us to send you timely notifications about
      your account activity, keeping you informed and in control of your account
      at all times. We are committed to maintaining the highest level of
      security and privacy for our users. Rest assured, your personal data will
      remain confidential and will not be shared or sold to third parties.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
