<div class="app-main-content">
  <!-- ========================= INFO / GUIDE PUBLIC MODULE ========================= -->
  <ng-container *ngIf="infoModule()">
    <div class="nav-container">
      <app-public-nav></app-public-nav>
    </div>

    <div *ngIf="showIcon" class="scroll-indicator" (click)="scrollToTop()">
      <mat-icon color="accent">keyboard_arrow_up</mat-icon>
    </div>
  </ng-container>

  <router-outlet></router-outlet>
</div>

<!-- ========================= INFO/GUIDE FOOTER ========================= -->
<app-footer class="footer-class" *ngIf="infoModule()"></app-footer>
