$primary-color: #52688f;
$accent-color: #35425b;
$box-shadow: 0px 0px 10px rgba(82, 104, 143, 0.5);
$alt-font-color: #e3e7f1;
$transparent-bgr: rgb(82, 104, 143, 0.1);

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $primary-color;
  text-align: center;
  margin-top: -3em;
}

.not-found-content {
  max-width: 500px;
  padding: 1em;
}

.error-code {
  font-size: 5rem;
  font-weight: 800;
  color: $primary-color;
  margin-bottom: -0.5em;
}

.error-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: #2e2e2e;
}

.error-message {
  font-size: small;
  color: #5f5f5f;
  margin-bottom: 2em;
  line-height: 1.6;
}

.support-message {
  margin-top: 2em;
  font-size: x-small;
  color: #8a8a8a;
}
