$primary-color: #52688F;

.privacyPolicy{
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    h2, h3{
        color: $primary-color;
    }
}

.mobile{
  font-size: small;
  h1, h2, h3{
    font-size: small !important;
  }
}