$primary-color: #52688F;

.privacyPolicy{
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    h2, h3{
        color: $primary-color;
    }
    .title-close{
      display: grid;
      grid-template-columns: 12fr 1fr;
      mat-icon{
        margin-top: 1em;
        font-size: large;
        color: $primary-color;
      }
    }
}

.mobile{
  font-size: small;
  h1, h2, h3{
    font-size: small !important;
  }
}