$primary-color: #52688f;
$accent-color: #35425b;
$box-shadow: 0px 0px 10px rgba(82, 104, 143, 0.5);
$alt-font-color: #e3e7f1;
$transparent-bgr: rgb(82, 104, 143, 0.1);

.verify-container {
  align-items: center;
  font-size: small;
  text-align: center;
  background-color: $primary-color;
  padding-top: 10em;
  height: 100vh;

  .verify-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: none;
    margin: auto 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .verify-message {
    font-size: small;
  }

  .success-icon {
    color: #4caf50;
  }

  .error-icon {
    color: #f44336;
  }

  .warning-icon {
    color: $alt-font-color;
  }
}
