<div class="verify-container">
  <div class="verify-card">
    <mat-progress-spinner
      *ngIf="status === null"
      diameter="40"
      color="accent"
      mode="indeterminate"
    ></mat-progress-spinner>
    <mat-icon
      *ngIf="status !== null && status === 'success'"
      class="success-icon"
      >check_circle</mat-icon
    >
    <mat-icon *ngIf="status !== null && status === 'error'" class="error-icon"
      >cancel</mat-icon
    >
    <mat-icon
      *ngIf="status !== null && status === 'warning'"
      class="warning-icon"
      >sentiment_dissatisfied</mat-icon
    >
    <p class="verify-message">{{ message }}</p>
    <div *ngIf="status !== null && status === 'warning'">
      <button
        mat-button
        color="primary"
        class="resend-link"
        (click)="resendVerificationEmail()"
      >
        Resend Verification Email
      </button>
    </div>
  </div>
</div>
