$primary-color: #52688f;
$accent-color: #35425b;
$box-shadow: 0px 0px 10px rgba(82, 104, 143, 0.5);
$alt-font-color: #e3e7f1;
$transparent-bgr: rgb(82, 104, 143, 0.1);

.verify-container {
  align-items: center;
  font-size: small;
  text-align: center;
  background-color: $primary-color;
  padding-top: 10em;
  height: 100vh;

  .verify-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: none;
    margin: auto 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .verify-message {
    font-size: small;
  }

  .success-icon {
    color: #4caf50;
  }

  .error-icon {
    color: #f44336;
  }

  .warning-icon {
    color: $alt-font-color;
  }
}

.reset-container {
  align-items: center;
  font-size: medium;
  text-align: center;
  background-color: $primary-color;
  padding-top: -8em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-card {
  background-color: white;
  border-radius: 12px;
  padding: 1.5em;
  width: 90%;
  max-width: 400px;
  box-shadow: $box-shadow;
  text-align: center;

  .reset-message {
    text-align: left;
    margin-bottom: 2em;
    color: $accent-color;
    font-size: small;
  }

  .full-width {
    width: 100%;
    margin-bottom: 1em;
  }

  button {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    border-radius: 25px;
    padding: 1.3em 0;
    font-weight: 500;
    font-size: medium;
  }

  .toggle-icon {
    font-size: medium;
    margin-right: 0.5em;
  }
}

.password-strength-section {
  text-align: left;
  margin-bottom: 1em;
  margin-top: -1em;

  .strength-bar {
    height: 6px;
    border-radius: 4px;
    background-color: #ccc;
    margin-bottom: 0.5em;
    transition: background-color 0.3s ease;
  }

  &.weak .strength-bar {
    background-color: #f44336;
  }

  &.medium .strength-bar {
    background-color: #ff9800;
  }

  &.strong .strength-bar {
    background-color: #4caf50;
  }

  .strength-label {
    font-size: 0.8rem;
    color: $accent-color;
    margin-bottom: 0.5em;
    font-weight: normal;
    font-size: small;
  }

  ul {
    list-style-type: none;
    padding: 0;
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 1.5em;

    li {
      margin-bottom: 0.2em;
    }

    .valid {
      color: #4caf50;
      font-weight: normal;
    }
  }
}

.password-match {
  font-size: 0.8rem;
  text-align: left;
  margin-top: -2em;
  margin-bottom: 1em;
  font-size: small;

  &.match {
    color: #4caf50;
    font-weight: normal;
  }

  &.mismatch {
    color: #f44336;
    font-weight: normal;
  }
}
