$primary-color: #52688F;
$subtle-white: #f5f5f5;

.notice{
    border-radius: 1.5em;
    cursor: auto;
    h2{
        color: $primary-color;
        font-weight: bold;
    }
}

button:not(:last-child){
    background-color: $subtle-white;
    color: $primary-color;
}