$primary-color: #52688F;
$subtle-white: #f9f8f8;
$accent-color: #35425B;

.notice{
    border-radius: 1.5em;
    cursor: auto;
    h2{
        color: $primary-color;
        font-weight: bold;
        mat-icon{
            vertical-align: text-bottom;
            padding-left: 0.3em;
        }
    }
}

.mat-typography{
    font-family: "Poppins", "Roboto", sans-serif;
    color: $accent-color;
    font-size: small;
}

button{
    margin-top: -1em;
    margin-bottom: 0.5em;
    font-size: medium;
    color: $accent-color;
}

button:not(:last-child){
    background-color: $subtle-white;
    color: $primary-color;
}