<section class="how-it-works">
  <mat-stepper orientation="vertical">
    <mat-step appLazyLoadText label="Join a Group" state="app_registration">
      <p appLazyLoadText>{{ steps[0] }}</p>
    </mat-step>
    <mat-step
      appLazyLoadText
      label="Contribute Regularly"
      state="calendar_month"
    >
      <p appLazyLoadText>{{ steps[1] }}</p>
    </mat-step>
    <mat-step
      appLazyLoadText
      label="Receive Sequential Payouts"
      state="payments"
    >
      <p appLazyLoadText>{{ steps[2] }}</p>
    </mat-step>
    <mat-step
      appLazyLoadText
      label="Benefit from Digital Management"
      state="phonelink_lock"
    >
      <p appLazyLoadText>{{ steps[3] }}</p>
    </mat-step>
    <mat-step
      appLazyLoadText
      label="Build Trust and Community"
      state="groups_3"
    >
      <p appLazyLoadText>{{ steps[4] }}</p>
    </mat-step>
  </mat-stepper>
</section>
