$primary-color: #52688f;
$accent-color: #35425b;
$beige-ish: rgb(244, 244, 242);
$alt-font-color: #E3E7F1;

.how-it-works{
    margin-top: 2em;
    padding: 0.5em 1em;
    padding-left: 0em;
    margin-left: -0.7em;
    background-color: $beige-ish;
    mat-stepper{
        background-color: inherit;
        color: $accent-color;
        font-size: 14px;
    }
    ::ng-deep .mat-step-text-label{
        color: $primary-color !important;
        font-size: medium !important;
    }
    ::ng-deep .mat-stepper-vertical-line::before{
        border-left-color: #52688f !important;
    }
    ::ng-deep .mat-step-icon{
        background-color: $primary-color !important;
    }
}