<section appLazyLoadText class="how-it-works">
    <header appLazyLoadText >
        <h1>How it works:</h1>
    </header>
    <ol>
        <li appLazyLoadText >
            <strong>Join a Group:</strong> Sign up and become part of a Soll group.
        </li>
        <li appLazyLoadText >
            <strong>Contribute Regularly:</strong> Make regular contributions to the group fund.
        </li>
        <li appLazyLoadText >
            <strong>Receive Sequential Payouts:</strong> Receive payouts in a sequential manner, with the algorithm determining the order based on the group's chosen payout system.
        </li>
        <li appLazyLoadText >
            <strong>Benefit from Digital Management:</strong> Enjoy secure and transparent handling of funds.
        </li>
        <li appLazyLoadText >
            <strong>Build Trust and Community:</strong> Engage with a reliable community, enhancing financial collaboration.
        </li>
    </ol>
</section>