<h2 class="title" [ngClass]="{'not-copiable': !data.copiable}">{{data.title}}</h2>
<div mat-dialog-content>
    <div *ngIf="data.copiable || data.isFeedback, else normal">
        <div class="content" *ngIf="!data.isFeedback">
            <h1>{{data.content}}</h1>
            <div *ngIf="!isCopied, else copied" (click)="copyContent()"><mat-icon>content_copy</mat-icon></div>
            <ng-template #copied><p>copied</p></ng-template>
        </div>
        <div class="content feedback" *ngIf="data.isFeedback">
            <h1 (click)="sendFeedback()">{{data.content}}</h1>
            <div (click)="sendFeedback()"><mat-icon>feedback</mat-icon></div>
        </div>
    </div>
    <ng-template #normal>
        <div>{{data.content}}</div>
    </ng-template>
    <div *ngIf="data.action">
        <button mat-button [mat-dialog-close]="data.action" cdkFocusInitial>{{data.action}}</button>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>