<div class="group-strength-container">
    <mat-icon *ngIf="showSpark" class="spark-icon">electric_bolt</mat-icon>
    <div class="grid-container">
        <div class="battery-box">
            <div class="battery">
                <div class="battery-level" appGroupStrengthAnimation [targetHeight]="groupStrength"></div>
            </div>
        </div>
        <div class="strength-percentage">
            <div (click)="openDialogue()">Group Strength<sup>1</sup></div>
            <div class="value">{{ groupStrength | percent:'1.0-2'}}</div>
        </div>
    </div>
</div>  