<div class="nav-box">
  <app-user-nav></app-user-nav>
</div>

<div class="user-stats">
  <div class="spacing"></div>
  <div class="saving-alert">
    <div class="current-saving">
      <h3 appLazyLoadText>Your Savings</h3>
      <h2 appLazyLoadText>{{ currentSaving | currency }}</h2>
    </div>
    <div class="alert-box">
      <mat-icon
        appLazyLoadText
        aria-hidden="false"
        [matBadge]="inboxCount"
        matBadgeSize="small"
        class="alert"
        >notifications</mat-icon
      >
    </div>
  </div>
  <div class="header-wrapper">
    <div class="header">
      <div class="user-progress">
        <div class="user-profile">
          <div
            class="outer-circle"
            appConfigureDashboardHeader
            [reputationScore]="userReputation"
            [nextPayoutDate]="nextPayoutDate"
            (daysUntilPayoutChange)="daysUntilPayout = $event"
          >
            <div class="inner-circle-dynamic-fill">
              <div class="img-container">
                <img
                  class="profile-img"
                  [attr.data-src]="profilePic"
                  appLazyLoading
                  alt="User Profile"
                />
              </div>
            </div>
          </div>
        </div>
        <p class="user-name">{{ useShortenedName }}</p>
      </div>
      <div class="demographic">
        <div class="reputation-score">
          <div class="label">Reputation Score</div>
          <div class="value">
            {{ userReputation }}
          </div>
        </div>
        <div class="active-group">
          <div class="label">Next Payout</div>
          <div class="value">{{ nextPayoutDate | date }}</div>
        </div>
        <div class="location">
          <div class="label">Group Location</div>
          <div class="value">{{ location }}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="prevGroups" class="slide-groups user-groups">
    <div appLazyLoadText class="slide-title">
      <mat-icon class="group-icon">groups_3</mat-icon>
      Active Groups
    </div>
    <swiper-container
      [slides-per-view]="5"
      navigation="false"
      pagination="true"
      scrollbar="false"
      speed="2000"
      [spaceBetween]="20"
    >
    <swiper-slide class="user-group-slide" *ngFor="let group of activeGroups">
      <app-active-groups [activeGroup]="group" ></app-active-groups>
    </swiper-slide>
    </swiper-container>
  </div>

  <div *ngIf="prevGroups" class="slide-groups user-groups">
    <div appLazyLoadText class="slide-title">
      <mat-icon class="clock-icon">watch_later</mat-icon>
      Previous Groups
    </div>
    <swiper-container
      [slides-per-view]="5"
      navigation="false"
      pagination="true"
      scrollbar="false"
      speed="2000"
      [spaceBetween]="20"
    >
    <swiper-slide class="user-group-slide" *ngFor="let group of prevGroups">
      <app-prev-groups [prevGroup]="group"></app-prev-groups>
    </swiper-slide>
    </swiper-container>
  </div>

</div>

<div *ngIf="trendingGroups" class="slide-groups">
  <div appLazyLoadText class="slide-title">Trending Groups</div>
  <swiper-container
    [slides-per-view]="5"
    navigation="false"
    pagination="true"
    scrollbar="false"
    speed="500"
    [spaceBetween]="20"
  >
    <swiper-slide *ngFor="let group of trendingGroups">
      <app-trending-groups [trendingGroup]="group"></app-trending-groups>
    </swiper-slide>
  </swiper-container>
</div>

<div class="info">
  <button mat-button>Join a group</button>
  <button mat-button>Become a Group Leader</button>
  <button class="help-btn" mat-button>Need help?</button>
</div>
