$primary-color: #52688F;
$accent-color: #35425B;
$alt-font-color: #E3E7F1;

.mobile{
    font-size: small;
    h3{
      font-size: small !important;
    }
  }


.contributions-form {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
  padding-bottom: 1em;

  .form-group {
    margin-bottom: 20px;

    label {
      color: $primary-color;
      display: block;
      margin-bottom: 5px;
    }
  }

  button {
    background-color: $primary-color;
    color: white;
    font-size: large;
    padding: 1em;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &:disabled {
      background-color: lighten($primary-color, 10%);
      cursor: default;
    }
  }
}

input, textarea{
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  margin: 5px 0;
  border: 1px solid $accent-color;
  border-radius: 0.6em;
  color: $accent-color;
  font-size: medium;
  &:focus {
    border: none;
    outline: none;
    outline: 2px solid $accent-color;
}
}

.form-group{
    mat-select.form-control {
        width: 100%;
        padding: 0.8em 0;
        margin: 5px 0;
        border: 1px solid $accent-color;
        border-radius: 0.6em;
        color: $accent-color;
        font-size: medium;
        text-indent: 0.5em;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        background-color: white;
    
        &:focus {
            border: none;
            outline: none;
            outline: 2px solid $accent-color;
        }
      }
}

.note-form{
  display: flex;
  flex-direction: column;
  textarea{
    font-family: "Poppins", "Roboto", sans-serif;
  }
  mat-hint{
    text-align: right;
    color: lightgray;
  }
}

input:disabled,
textarea:disabled {
  opacity: 1;
  background-color: hsl(218.36deg 18.3% 96%);
}

::ng-deep .mat-mdc-select-arrow svg {
    padding-right: 2em !important;
}

::ng-deep div.mat-mdc-select-panel{
    border-bottom-left-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
    margin-left: -0.44em !important;
}


