<div>
  <div >
    <h2 mat-dialog-title class="title">Unable to join a Group</h2>
  </div>
  <mat-dialog-content class="mat-typography">
    <section>
      <p>You may be unable to join a group for the following reasons:</p>
    </section>
    <section>
      <ol>
          <li>
              <h4>Location Mismatch</h4>
              <p>
                Each Soll group is tailored to specific local communities for effective management and stronger community ties. Your current location may not match the designated area for this group. We encourage you to explore other groups that are aligned with your locality.
              </p>
          </li>
          <li>
            <h4>Reputation Score Requirement</h4>
            <p>
                Soll groups have a minimum reputation score requirement to ensure the financial reliability and trustworthiness of all members. Your current reputation score may not meet the minimum threshold for this group. This is an important aspect of maintaining the integrity and trust within the group. You can increase your reputation score by participating actively and positively in other suitable Soll activities and groups.
            </p>
        </li>
      </ol>
      <section>
        <p>
            We understand this may be disappointing, but these criteria are in place to foster strong, supportive, and effective group savings environments. Please feel free to explore other groups on Soll that align with your location and meet your reputation score. We're committed to helping you find the right financial community on our platform.
        </p>
      </section>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
