// imports
@use "@angular/material" as mat;
@import "src/app/utils/styles/global-rules.scss";
@import "src/app/utils/styles/dark-mode.scss";
@import "src/app/utils/styles/media-rules.scss";
@include mat.core();

// angular material custom palettes
$Sol-primary-palette: (
  50: #dbe2ed,
  100: #bac6da,
  200: #99a9c7,
  300: #788cb4,
  400: #6177a6,
  500: #52688f,
  600: #495f85,
  700: #3f566c,
  800: #354d53,
  900: #2b444a,
  contrast: (
    50: rgba($soll-dark-color, 0.87),
    100: rgba($soll-dark-color, 0.87),
    200: rgba($soll-dark-color, 0.87),
    300: $soll-light-color,
    400: $soll-light-color,
    500: $soll-light-color,
    600: $soll-light-color,
    700: $soll-light-color,
    800: $soll-light-color,
    900: $soll-light-color,
  ),
);

$Sol-accent-palette: (
  50: #677184,
  100: #546275,
  200: #435266,
  300: #35425b,
  400: #2e3b51,
  500: #283447,
  600: #bdc6d9,
  700: #bdc6d9,
  800: #bdc6d9,
  900: #bdc6d9,
  contrast: (
    50: rgba($soll-dark-color, 0.87),
    100: rgba($soll-dark-color, 0.87),
    200: rgba($soll-dark-color, 0.87),
    300: $soll-light-color,
    400: $soll-light-color,
    500: $soll-light-color,
    600: $soll-light-color,
    700: $soll-light-color,
    800: $soll-light-color,
    900: $soll-light-color,
  ),
);

$Sol-primary: mat.define-palette($Sol-primary-palette);
$Sol-accent: mat.define-palette($Sol-accent-palette);
$Sol-warn: mat.define-palette(mat.$red-palette);

$Sol-theme: mat.define-light-theme(
  (
    color: (
      primary: $Sol-primary,
      accent: $Sol-accent,
      warn: $Sol-warn,
    ),
  )
);

@include mat.all-component-themes($Sol-theme);

// *********************************************************************************

// Overriding rules

body.no-scroll {
  overflow: hidden;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", "Roboto", sans-serif;
}

.app-snackbar-neutral, .app-snackbar-success, .app-snackbar-error{
  --mdc-snackbar-container-color: white;
  border-radius: 4px;
}

.app-snackbar-neutral {
  border: solid $primary-color 1px;
}

.app-snackbar-success {
  border: solid #4caf50 1px;
}

.app-snackbar-error {
  border: solid rgb(174, 38, 14) 1px;
}