// imports
@use '@angular/material' as mat;
@import 'src/app/utils/styles/app-style.scss';
@include mat.core();


// angular material custom palettes
$Sol-primary-palette: (
  50: #dbe2ed,
  100: #bac6da,
  200: #99a9c7,
  300: #788cb4,
  400: #6177a6,
  500: #52688f,
  600: #495f85,
  700: #3f566c,
  800: #354d53,
  900: #2b444a,
  contrast: (50: rgba($sol-dark-color, 0.87),
    100: rgba($sol-dark-color, 0.87),
    200: rgba($sol-dark-color, 0.87),
    300: $sol-light-color,
    400: $sol-light-color,
    500: $sol-light-color,
    600: $sol-light-color,
    700: $sol-light-color,
    800: $sol-light-color,
    900: $sol-light-color,
  )
);

$Sol-accent-palette: (
  50: #677184,
  100: #546275,
  200: #435266,
  300: #35425b,
  400: #2e3b51,
  500: #283447,
  600: #BDC6D9,
  700: #BDC6D9,
  800: #BDC6D9,
  900: #BDC6D9,
  contrast: (50: rgba($sol-dark-color, 0.87),
    100: rgba($sol-dark-color, 0.87),
    200: rgba($sol-dark-color, 0.87),
    300: $sol-light-color,
    400: $sol-light-color,
    500: $sol-light-color,
    600: $sol-light-color,
    700: $sol-light-color,
    800: $sol-light-color,
    900: $sol-light-color,
  )
);

$Sol-primary: mat.define-palette($Sol-primary-palette);
$Sol-accent: mat.define-palette($Sol-accent-palette);
$Sol-warn: mat.define-palette(mat.$red-palette);

$Sol-theme: mat.define-light-theme((color: (primary: $Sol-primary,
        accent: $Sol-accent,
        warn: $Sol-warn,
      )));

@include mat.all-component-themes($Sol-theme);


// *********************************************************************************

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.spacing{
    margin: 2em 1em;
    margin-bottom: 1em;
    height: 1em;
    border-bottom: solid $alt-font-color 1px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Roboto', sans-serif;
}

input{
  caret-color: $sol-darker !important;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;

  .form-control {
    flex: 1;
    padding-right: 2rem;
  }

  .toggle-password {
    position: absolute;
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0 12px;

    mat-icon {
      color: $primary-color;
    }
  }
}

.primary-btn {
  background-color: $accent-color;
  color: $alt-font-color;
  padding: 10px 20px;
  padding: 0.7em 0;
  width: 100%;
  border-radius: 2.5em;
  border: none;
  font-size: larger;
  cursor: pointer;
  margin-top: 1em;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($accent-color, 10%);
  }

  &[disabled] {
    background-color: lighten($accent-color, 10%);
    cursor: default;
  }
}

video {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.video-loaded {
  opacity: 1;
  transform: scale(1);
}


// *********************************************************************************

body.dark-mode {
  background-color: $sol-darker;
  color: $alt-font-color !important;

  h6, h5, h4, h3, h2, h1, div, span {
    color: $alt-font-color !important;
  }

  p {
    color: white !important;
  }
}