$primary-color: #52688F;
$secondary-color: #35425B;
$accent-color: #35425B;
$background-color: #BDC6D9;
$default-font-color: #35425B;
$alt-font-color: #E3E7F1;
$soll-logo-light-color: #d6dff3;
$soll-dark-color: #353c4a;
$soll-black: rgba(0, 0, 0, 0.87);
$soll-light-color: #BDC6D9;
$soll-transparent-bgr: rgb(82, 104, 143, 0.1);
$soll-box-shadow: 0px 0px 10px rgb(82, 104, 143, 0.2);
$third-color: #445470;
$soll-subtle-backgound: #b4bfd6;
$soll-glossy-background: #2a416b;
$soll-thin-border: solid $secondary-color 1px;
$soll-darker: #161B22;
$dark-dusty-blue: rgb(37 84 109);
$accent-color: #35425b;
$progress-color: #20a7db;
$card-boxshadow: rgba(0, 0, 0, 0.15) -12px 21px 24px -10px;
$dark-mode-boxshadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
$bottom-top-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px 18px;